@model ButtonViewModel

<span class="block w-full rounded-md">
	<button type="submit" name="@Model.ButtonName" value="@Model.ButtonValue" class="w-full flex justify-center py-2 px-4 text-sm font-medium shadow rounded text-white bg-green-800 hover:bg-green-700 active:bg-green-800 focus:bg-green-800 focus:outline-none focus:outline-black">
		@Model.ButtonText
	</button>
</span>
