<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Velusia.Server</title>
	<link href="/dist/inter-roman-var.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous" />
	<link href="/dist/styles.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
	<div class="" role="main">
		@RenderBody()
	</div>
	<div class="" role="navigation">
		@await Html.PartialAsync("_LoginPartial")
	</div>
	<div class="" role="contentinfo">
		&copy; 2015-@DateTime.UtcNow.Year - <a asp-controller="Home" asp-action="Index" class="navbar-brand">Velusia.Server</a>
	</div>
</body>
</html>
