@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<p>Signed in as @UserManager.GetUserName(User)</p>

	<form asp-controller="Account" asp-action="LogOff" method="post" class="">
		<button type="submit" class="">Sign out</button>
	</form>
}
else
{
	<a asp-controller="Account" asp-action="Login">Log in</a>
}
