@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<div class="mt-8" role="navigation">
		<h2 class="text-base text-gray-900">Signed in as <span class="font-bold">@UserManager.GetUserName(User)</span></h2>

		@if (!Url.ActionContext.ActionDescriptor.DisplayName.Contains("AuthorizationController.Logout"))
		{
			<div class="text-sm">
				<a asp-controller="Authorization" asp-action="Logout" class="@Css.Link">Sign out</a>
			</div>
		}
	</div>
}
