@model ErrorViewModel

@{
	ViewData["Title"] = "Server error";
}

<div class="prose">
	<h1>@ViewData["Title"]</h1>
	
	@if (!string.IsNullOrEmpty(Model.Error))
	{
		<p class="lead">@Model.Error</p>
	}

	@if (!string.IsNullOrEmpty(Model.ErrorDescription))
	{
		<p>@Model.ErrorDescription</p>
	}
</div>
