@using Microsoft.Extensions.Primitives

@{
	ViewData["Title"] = "Log out";
}

<div class="">
	<h1>@ViewData["Title"]</h1>
	<p class="">Are you sure you want to log out?</p>

	<form asp-controller="Authorization" asp-action="Logout" method="post">
		@* Flow the request parameters so they can be received by the LogoutPost action: *@
		@foreach (var parameter in Context.Request.HasFormContentType ?
		  (IEnumerable<KeyValuePair<string, StringValues>>)Context.Request.Form : Context.Request.Query)
		{
			<input type="hidden" name="@parameter.Key" value="@parameter.Value" />
		}

		<button class="btn btn-lg btn-success" name="Confirm" type="submit" value="Yes">Yes</button>
	</form>
</div>
