@using Microsoft.Extensions.Primitives

@{
	ViewData["Title"] = "Confirm sign-out";
}

<div class="@Css.Prose">
	<h1>@ViewData["Title"]</h1>
</div>

<form class="mt-8" asp-controller="Authorization" asp-action="Logout" method="post">
	@* Flow the request parameters so they can be received by the LogoutPost action: *@
	@foreach (var parameter in Context.Request.HasFormContentType ?
	 (IEnumerable<KeyValuePair<string, StringValues>>)Context.Request.Form : Context.Request.Query)
	{
		<input type="hidden" name="@parameter.Key" value="@parameter.Value" />
	}

	@await Html.PartialAsync("_ButtonPartial", new ButtonViewModel { ButtonText = "Sign out", ButtonName = "Confirm", ButtonValue = "Yes" })
</form>
