@{
	ViewData["Title"] = "Sign-in link sent";
}

<div class="@Css.Prose">
	<h1>@ViewData["Title"]</h1>
	<p class="lead">
		Check your e-mail inbox and click the sign-in button.
	</p>
	<p>
		The button link is valid for 15 minutes. The e-mail that was just sent.
	</p>
</div>
