@model LoginViewModel

@{
	ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
	<h2>Use your e-mail address to log in</h2>
	<div class="form-group">
		<label asp-for="Email" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Email" class="form-control" type="email" required />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-default">Send signin link</button>
		</div>
	</div>
</form>
